body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	left: 0;
	right: 0;
	bottom: 0;
}
.container {
	position: relative;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
	width: 50%;
	max-width: 500px;
}
h1 {
	color: #e74c3c;
	margin-bottom: 30px;
}

h1 span {
	color: #7f8c8d;
}

.button {
	background-color: #e74c3c;
	color: #fafafa;
	width: 120px;
	margin: 0px auto 60px 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.50);
}

#b1{
	float: left;
	margin-left: 50px;
}

#b2{
	float: right;
	margin-right: 50px;
}

#photos{
	min-width: 500px;
}

@media only screen and (max-width: 880px){
	.container{
		width: 300px;
	}
	
	#b1{
	float: left;
	margin-left: 0px;
	}

	#b2{
		float: right;
		margin-right: 0px;
	}
	
	#photos{
		min-width: 0px;
	}
}